<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
<head>
	<meta charset='utf-8'>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width,maximum-scale=2">

	<title>
		{% if site.title != page.title %}
			{{ page.title }} |
		{% endif %}
		{{ site.title }}
	</title>

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
	<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

	<link rel="stylesheet" type="text/css" media="screen" href="{{ site.url }}/assets/css/style.css">
	<link rel="stylesheet" type="text/css" media="screen" href="{{ site.url }}/assets/css/light.css" id="theme">
	<script src="{{ site.url }}/assets/js/theme.js"></script>

	{% include favicon.html %}
	{% include seo.html %}
</head>

<body>
	<div class="content">
		{% include nav.html %}

		<main>
			<button onclick="changeTheme()" class="btn btn-primary button btn-change-theme">Change theme</button>
			<noscript><a class="" href="."></noscript>
				<span class="btn btn-primary btn-back" onclick="window.history.back()"><i class="fa fa-chevron-left" aria-hidden="true"></i> Back</span>
			<noscript></a></noscript>

			{% include popup.html %}

			<div class="container-fluid">
				<div class="row pt-5">
					<div class="col-12 mw-50 main-content mx-auto">
						{{ content }}

						<div class="row">
							<div class="col-md-4">
								<div class="card">
									{% if page.website %}<a href="{{ page.website }}">{% elsif page.source %}<a href="{{ page.source }}">{% endif %}
										<div class="card-header">
											<img class="mx-auto d-block mw-100" src="{{ page.image }}" alt="{{ page.title }}">
										</div>
										<div class="card-body">
											<div>
												{% if page.image %}
												{% endif %}
												<h4 class="card-title text-center">{{ page.title }}</h4>
												<p class="card-text">{{ page.description }}</p>
											</div>
										</div>
									{% if page.website %}</a>{% elsif page.source %}</a>{% endif %}
									<div class="card-footer">
										{% if page.categories %}
											Categories:
											{% for category in page.categories %}
											<a href="/db/{{ page.collection }}/{{ category }}">{{ category }}</a>
											{% endfor %}
										{% endif %}
									</div>
								</div>
								<div class="text-center pt-3">
									{% if page.source %}
										<a class="btn btn-primary m-1" href="{{ page.source }}">Source</a>
									{% endif %}
									{% if page.website %}
										<a class="btn btn-primary m-1" href="{{ page.website }}">Website</a>
									{% endif %}
									{% if page.wiki %}
										<a class="btn btn-primary m-1" href="{{ page.wiki }}">Wiki</a>
									{% endif %}
								</div>
							</div>
							<div class="col-md-8">
								<div class="row">
									<div class="col-12">
										<h2>Downloads</h2>
										{% for item in page.downloads %}
										<span class="btn btn-primary m-1">
											<a class="mr-1" href="{{ item[1] }}">Download {{ item[0] }}</a>
											{% for qr in page.qr %}
												{% if item[0] == qr[0] %}
													<noscript><a href="{{ qr[1] }}"></noscript>
														<i class="fa fa-qrcode" aria-hidden="true" onclick="toggleQR('{{ qr[1] }}', '{{ qr[0] }}')"></i>
													<noscript></a></noscript>
												{% endif %}
											{% endfor %}
											</span>
										{% endfor %}
										
										{% if page.version %}
											<br>
											<small class="text-muted">
												Version: {{ page.version }}{% if page.version_title %}, {{ page.version_title }}{% endif %}
												<br>
												{% if page.updated %}
													Last updated: {{ page.updated | date: "%Y-%m-%d at %H:%M (UTC)"}}
												{% endif %}
											</small>
										{% endif %}
									</div>
								</div>
								{% if page.prerelease %}
									<div class="row mt-5">
										<div class="col-12">
											<h2>Prereleases</h2>
											{% for item in page.prerelease.downloads %}
												<a class="btn btn-secondary m-1" href="{{ item[1] }}">Download {{ item[0] }}</a>
											{% endfor %}
			
											{% if page.prerelease.version %}
												<br>
												<small class="text-muted">
													Version: {{ page.prerelease.version }}{% if page.prerelease.version_title %}, {{ page.prerelease.version_title }}{% endif %}
													<br>
													{% if page.prerelease.updated %}
														Last updated: {{ page.prerelease.updated | date: "%Y-%m-%d at %H:%M (UTC)"}}
													{% endif %}
												</small>
											{% endif %}
										</div>
									</div>
								{% endif%}
							</div>
						</div>
					</div>
				</div>
			</div>
		</main>
	</div>

	{% include footer.html %}

	<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
	<script src="{{ site.url }}/assets/js/popupQR.js"></script>
</body>
</html>