<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
{% include head.html%}

<body>
	<div class="content">
		{% include nav.html %}

		<main>
			<a class="back-link" href=".">
				<span class="btn btn-primary btn-back"><i class="fa fa-chevron-left" aria-hidden="true"></i> Back</span>
			</a>

			{% include popup.html %}

			<div class="container-fluid">
				<div class="row pt-5">
					<div class="col-12 mw-50 main-content mx-auto">
						<div class="row">
							<div class="col-md-4 mb-3">
								<div class="card">
									{% if page.website %}<a href="{{ page.website }}">{% elsif page.source %}<a href="{{ page.source }}">{% endif %}
										{% if page.image %}
											<div class="card-header">
												<img class="mx-auto d-block mw-100" src="{{ page.image }}" alt="{{ page.title }}">
											</div>
										{% else if page.icon %}
											<div class="card-header">
												<img class="mx-auto d-block mw-100" src="{{ page.icon }}" alt="{{ page.title }}">
											</div>
										{% endif %}
										<div class="card-body">
											<div>
												<h4 class="card-title text-center {% if page.author %}mb-0{% endif %}">{{ page.title }}</h4>
												{% if page.author %}
													<small class="d-block text-center mb-3">{{ page.author }}</small>
												{% endif %}
												<p class="card-text">{{ page.description }}</p>
											</div>
										</div>
									{% if page.website %}</a>{% elsif page.source %}</a>{% endif %}
									<div class="card-footer">
										{% if page.categories %}
											Categories:
											{% for category in page.categories %}
											<a href="/{{ page.collection }}/{{ category }}">{{ category }}</a>
											{% endfor %}
										{% endif %}
										<small class="text-muted">
											{% if page.created != "---" %}
												<br>
												Created: <time datetime="{{ page.created }}" title="{{ page.created | date: '%Y-%m-%d at %H:%M' }}">{{ page.created | date: "%Y-%m-%d" }}</time>
											{% endif %}
										</small>
									</div>
								</div>
								<div class="text-center pt-3">
									{% if page.source %}
										<a class="btn btn-primary m-1" href="{{ page.source }}">Source</a>
									{% endif %}
									{% if page.website %}
										<a class="btn btn-primary m-1" href="{{ page.website }}">Website</a>
									{% endif %}
									{% if page.wiki %}
										<a class="btn btn-primary m-1" href="{{ page.wiki }}">Wiki</a>
									{% endif %}
								</div>
							</div>
							<div class="col-md-8">
								<div class="row">
									<div class="col-12">
										<h2>Downloads</h2>
										{% for item in page.downloads %}
											<span class="btn btn-primary m-1">
												<a class="mr-1" href="{{ item[1] }}">Download {{ item[0] }}</a>
												{% for qr in page.qr %}
													{% if item[0] == qr[0] %}
														<a class="qr-link" href="{{ qr[1] }}" data-path="{{ qr[1] }}" data-name="{{ qr[0] }}">
															<i class="fa fa-qrcode" aria-hidden="true"></i>
														</a>
													{% endif %}
												{% endfor %}
											</span>
										{% endfor %}
										
										{% if page.version and page.downloads %}
											<br>
											<small class="text-muted">
												Version: {% if page.download_page %}<a href="{{ page.download_page }}">{% endif %}{{ page.version }}{% if page.version_title %}, {{ page.version_title }}{% endif %}{% if page.download_page %}</a>{% endif %}
												<br>
												{% if page.updated != "---" %}
													Last updated: <time datetime="{{ page.updated }}" title="{{ page.prerelease.updated | date: '%Y-%m-%d at %H:%M' }}">{{ page.updated | date: "%Y-%m-%d at %H:%M" }}</time>
												{% endif %}
											</small>
										{% endif %}
									</div>
								</div>
								{% if page.prerelease %}
									<div class="row mt-3">
										<div class="col-12">
											<h3>Prereleases</h3>
											{% for item in page.prerelease.downloads %}
												<a class="btn btn-secondary m-1" href="{{ item[1] }}">Download {{ item[0] }}</a>
											{% endfor %}
			
											{% if page.prerelease.version %}
												<br>
												<small class="text-muted">
													Version: {{ page.prerelease.version }}{% if page.prerelease.version_title %}, {{ page.prerelease.version_title }}{% endif %}
													<br>
													{% if page.prerelease.updated != "---" %}
														Last updated: <time datetime="{{ page.prerelease.updated }}" title="{{ page.prerelease.updated | date: '%Y-%m-%d at %H:%M' }}">{{ page.prerelease.updated | date: "%Y-%m-%d at %H:%M" }}</time>
													{% endif %}
												</small>
											{% endif %}
										</div>
									</div>
								{% endif%}
								{% if page.nightly %}
									<div class="row mt-3">
										<div class="col-12">
											<abbr title="Commit / beta builds, potentially unstable but have the latest updates"><h3>Nightlies</h3></abbr>
											{% for item in page.nightly.downloads %}
												<span class="btn btn-dark m-1">
													<a class="mr-1" href="{{ item[1] }}">Download {{ item[0] }}</a>
													{% for qr in page.nightly.qr %}
														{% if item[0] == qr[0] %}
															<a class="qr-link" href="{{ qr[1] }}" data-path="{{ qr[1] }}" data-name="{{ qr[0] }}">
																<i class="fa fa-qrcode" aria-hidden="true"></i>
															</a>
														{% endif %}
													{% endfor %}
												</span>
											{% endfor %}
			
											{% if page.nightly.download_page %}
												<br>
												<small class="text-muted">
													<a href="{{ page.nightly.download_page }}">Download page</a>
												</small>
											{% endif %}
										</div>
									</div>
								{% endif%}
								{% if content.size > 1 %}
									<div class="row">
										<div class="col-12">
											<hr>
											{{ content }}
										</div>
									</div>
								{% endif %}
							</div>
						</div>
					</div>
				</div>
			</div>
		</main>
	</div>

	{% include footer.html %}

	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js" integrity="sha384-oesi62hOLfzrys4LxRF63OJCXdXDipiYWBnvTl9Y9/TRlw5xlKIEHpNyvvDShgf/" crossorigin="anonymous"></script>
	<script src="/assets/js/popupQR.js"></script>
	<script src="/assets/js/relativeTime.js"></script>
	<script src="/assets/js/un-noscript.js"></script>
	<!-- <script src="https://cdn.onesignal.com/sdks/OneSignalSDK.js" async=""></script>
	<script>
		window.OneSignal = window.OneSignal || [];
		OneSignal.push(function() {
			OneSignal.init({
			appId: "3f1f8a28-f4c7-4d11-8764-201037e7e61f",
			});
		});
	</script> -->
</body>
</html>