<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
{% include head.html%}

<body>
	<div class="content">
		{% include nav.html %}

		<main>
			<div class="container-fluid">
				<div class="row pt-5">
					<div class="col-sm-2"></div>
					<div class="col-sm-8">
						{{ content }}
					</div>
				</div>
			</div>
		</main>
	</div>

	{% include footer.html %}

	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-popRpmFF9JQgExhfw5tZT4I9/CI5e2QcuUZPOVXb1m7qUmeR2b50u+YFEYe1wgzy" crossorigin="anonymous"></script>
	<script src="/assets/js/rescript.js"></script>
	<!-- <script src="https://cdn.onesignal.com/sdks/OneSignalSDK.js" async=""></script>
	<script>
		window.OneSignal = window.OneSignal || [];
		OneSignal.push(function() {
			OneSignal.init({
			appId: "3f1f8a28-f4c7-4d11-8764-201037e7e61f",
			});
		});
	</script> -->
</body>
</html>