<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
{% include head.html%}

<body>
	<div class="content">
		{% include nav.html %}

		<main>
			<div class="container-fluid">
				<div class="row pt-5">
					<div class="col-sm-2"></div>
					<div class="col-sm-8">
						{{ content }}
					</div>
				</div>
			</div>
		</main>
	</div>

	{% include footer.html %}

	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js" integrity="sha384-oesi62hOLfzrys4LxRF63OJCXdXDipiYWBnvTl9Y9/TRlw5xlKIEHpNyvvDShgf/" crossorigin="anonymous"></script>
	<script src="/assets/js/un-noscript.js"></script>
	<!-- <script src="https://cdn.onesignal.com/sdks/OneSignalSDK.js" async=""></script>
	<script>
		window.OneSignal = window.OneSignal || [];
		OneSignal.push(function() {
			OneSignal.init({
			appId: "3f1f8a28-f4c7-4d11-8764-201037e7e61f",
			});
		});
	</script> -->
</body>
</html>