name: Pull request check
on:
  pull_request:
    paths: [source/apps/*]

jobs:
  run:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v6
      with:
        fetch-depth: 2

    - name: Prepare environment
      run: |
        pip3 install --break-system-packages -r source/requirements.txt

    - name: Run generate.py
      env:
        TOKEN: ${{ secrets.GITHUB_TOKEN }}
      run: |
        UPDATED_APPS=$(git diff --name-only HEAD | grep source/apps)

        if [ -n "$UPDATED_APPS" ]; then
          echo '```json' > results.txt
          source/generate.py app-test $UPDATED_APPS >> results.txt
          if [ $? -eq 0 ]; then
            echo '```' >> results.txt
          else
            rm results.txt
          fi
        fi

    - name: Comment results
      uses: thollander/actions-comment-pull-request@v3
      with:
        file-path: results.txt